body {
    background: url('./assets/images/tartan-wooden-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    backdrop-filter: blur(3px);
}