@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.font {
  font-family: 'Pacifico', cursive;
  color: #101820FF;
}

.titleblock {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: center;
    margin-bottom: 30px;
}

.recSection {
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: url('../../assets/images/newrecipt.jpg')no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.subSection {
    margin-left: 1rem;
    margin-right: 1rem;
}

.subtitlefont {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #101820FF;
}

.unitfont {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #101820FF;
}

.formItem {
    justify-content: center;
    text-align: center;
    font-weight: bold;
    height: calc(1.5em + .75rem + 2px);
    width: 80%;
    background: none;
    border-color: black;
    border-left: none;
    border-right: none;
    border-top: none;
}

.formItem:disabled {
    border: none;
}

.formInput {
    background: none;
    height: calc(1.5em + .75rem + 2px);
    width: 100%;
    border-color: black;
    font-weight: bold;
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.formInput:disabled {
    background: none;
    border: none;
}

.formInput:checked {
    background: none;
}

.formRow {
    margin-right: 1rem;
}

.formOption {
    justify-content: center;
    text-align: center;
}

.btn {
    background: none;
    border: none;
    font-family: 'Pacifico', cursive;
    font-size: 16px;
    height: calc(1.5em + .75rem + 2px);
    width: 100%;
    color: #101820FF;
}

.rmbtn {
    margin-top: 2rem;
    background: none;
    border: none;
    font-family: 'Pacifico', cursive;
    font-size: 16px;
    height: calc(1.5em + .75rem + 2px);
    color: #101820FF;
}

.col {
    width: 60px;
}

.subtextfont {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    color: #101820FF;
}

.number {
    height: calc(1.5em + .75rem + 2px);
    padding-top: 4px;
}

.descsection {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: center;
}

.nameformRow {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #101820FF;
}

.nameformInput {
    background: none;
    height: calc(1.5em + .75rem + 2px);
    width: 100%;
    border-color: black;
    font-weight: bold;
    font-size: 25px;
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.descformInput {
    background: none;
    height: 6rem;
    width: 100%;
    border-color: black;
    font-weight: bold;
    resize: none;
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.formInput:disabled {
    background: none;
    border: none;
}

.namebtn {
    margin-top: 2rem;
    background: none;
    border: none;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    height: 2rem;
    width: 100%;
    color: #101820FF;
}