.titleblock {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
}

.titlefont {
    font-weight: bold;
    font-size: larger;
}

.cardblock {
    margin: 20px;
}

.cardBody {
    max-width: 400px;
    max-height: 400px;
    margin: 20px;
}

.dropdownBtn {
    position: absolute;
    background: rgba(255,245,215,.5);
}

.dropdownBtn :focus {
    background: rgba(255,245,215,.5);
    border: none;
}

.dropdownBtn button {
    width: 400px !important;
    background: none;
    border: none;
    height: 50px;
    text-align: right;
    font-size: 0.5cm;
    font-weight: bold;
}