.vl {
    border-left: 1px solid white;
    height: auto;
    position: left;
    opacity: 0.5;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navFont{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #101820FF;
}

.navFont:hover{
    color: white;
}

.navItem {
    padding: .5rem;
}